In [1]:
import pyodbc
from sqlalchemy import create_engine
import pandas as pd

In [2]:
server = 'DESKTOP-AJF3UNS'
database = 'AdventureWorksDW2019'
driver = 'SQL Server Native Client 11.0'
username = 'ming'
password = 'Fred0102'
database_connection = f'mssql://{username}:{password}@{server}/{database}?driver={driver}'

In [3]:
engine = create_engine(database_connection)
conn = engine.connect()

In [4]:
print(engine.table_names())

['AdventureWorksDWBuildVersion', 'DatabaseLog', 'DimAccount', 'DimCurrency', 'DimCustomer', 'DimDate', 'DimDepartmentGroup', 'DimEmployee', 'DimGeography', 'DimOrganization', 'DimProduct', 'DimProductCategory', 'DimProductSubcategory', 'DimPromotion', 'DimReseller', 'DimSalesReason', 'DimSalesTerritory', 'DimScenario', 'FactAdditionalInternationalProductDescription', 'FactCallCenter', 'FactCurrencyRate', 'FactFinance', 'FactInternetSales', 'FactInternetSalesReason', 'FactProductInventory', 'FactResellerSales', 'FactSalesQuota', 'FactSurveyResponse', 'NewFactCurrencyRate', 'ProspectiveBuyer', 'sysdiagrams']

C:\Users\Ming\AppData\Local\Temp/ipykernel_348/1043810782.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  print(engine.table_names())

In [5]:
result = engine.execute('select * from DimCustomer')
result_list=[]
for row in result:
    result_list.append(row)
    
result_list[:5]

[(11000, 26, 'AW00011000', None, 'Jon', 'V', 'Yang', False, datetime.date(1971, 10, 6), 'M', None, 'M', 'jon24@adventure-works.com', Decimal('90000.0000'), 2, 0, 'Bachelors', 'Licenciatura', 'Bac + 4', 'Professional', 'Profesional', 'Cadre', '1', 0, '3761 N. 14th St', None, '1 (11) 500 555-0162', datetime.date(2011, 1, 19), '1-2 Miles'),
 (11001, 37, 'AW00011001', None, 'Eugene', 'L', 'Huang', False, datetime.date(1976, 5, 10), 'S', None, 'M', 'eugene10@adventure-works.com', Decimal('60000.0000'), 3, 3, 'Bachelors', 'Licenciatura', 'Bac + 4', 'Professional', 'Profesional', 'Cadre', '0', 1, '2243 W St.', None, '1 (11) 500 555-0110', datetime.date(2011, 1, 15), '0-1 Miles'),
 (11002, 31, 'AW00011002', None, 'Ruben', None, 'Torres', False, datetime.date(1971, 2, 9), 'M', None, 'M', 'ruben35@adventure-works.com', Decimal('60000.0000'), 3, 3, 'Bachelors', 'Licenciatura', 'Bac + 4', 'Professional', 'Profesional', 'Cadre', '1', 1, '5844 Linden Land', None, '1 (11) 500 555-0184', datetime.date(2011, 1, 7), '2-5 Miles'),
 (11003, 11, 'AW00011003', None, 'Christy', None, 'Zhu', False, datetime.date(1973, 8, 14), 'S', None, 'F', 'christy12@adventure-works.com', Decimal('70000.0000'), 0, 0, 'Bachelors', 'Licenciatura', 'Bac + 4', 'Professional', 'Profesional', 'Cadre', '0', 1, '1825 Village Pl.', None, '1 (11) 500 555-0162', datetime.date(2010, 12, 29), '5-10 Miles'),
 (11004, 19, 'AW00011004', None, 'Elizabeth', None, 'Johnson', False, datetime.date(1979, 8, 5), 'S', None, 'F', 'elizabeth5@adventure-works.com', Decimal('80000.0000'), 5, 5, 'Bachelors', 'Licenciatura', 'Bac + 4', 'Professional', 'Profesional', 'Cadre', '1', 4, '7553 Harness Circle', None, '1 (11) 500 555-0131', datetime.date(2011, 1, 23), '1-2 Miles')]

In [6]:
sql_query = pd.read_sql_query('select * from DimCustomer', engine)
df = pd.DataFrame(sql_query)
df.head()

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,EnglishOccupation,SpanishOccupation,FrenchOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance
0,11000,26,AW00011000,None,Jon,V,Yang,False,1971-10-06,M,...,Professional,Profesional,Cadre,1,0,3761 N. 14th St,None,1 (11) 500 555-0162,2011-01-19,1-2 Miles
1,11001,37,AW00011001,None,Eugene,L,Huang,False,1976-05-10,S,...,Professional,Profesional,Cadre,0,1,2243 W St.,None,1 (11) 500 555-0110,2011-01-15,0-1 Miles
2,11002,31,AW00011002,None,Ruben,None,Torres,False,1971-02-09,M,...,Professional,Profesional,Cadre,1,1,5844 Linden Land,None,1 (11) 500 555-0184,2011-01-07,2-5 Miles
3,11003,11,AW00011003,None,Christy,None,Zhu,False,1973-08-14,S,...,Professional,Profesional,Cadre,0,1,1825 Village Pl.,None,1 (11) 500 555-0162,2010-12-29,5-10 Miles
4,11004,19,AW00011004,None,Elizabeth,None,Johnson,False,1979-08-05,S,...,Professional,Profesional,Cadre,1,4,7553 Harness Circle,None,1 (11) 500 555-0131,2011-01-23,1-2 Miles